### Funções para trabalhar com datas

Lidar com datas é sempre um grande desafio então neste código (working in progress) estou consolidando as funções para ajudar!

In [ ]:
import pandas as pd

In [3]:
# Converter variáveis separadas de ano, mês e dia para datetime
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [5]:
# Converter aaaammdd para data, Ignorando erros
data = pd.to_datetime('20190111', format='%Y%m%d', errors='ignore')
print(data, type(data))

2019-01-11 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [10]:
# Converter aaaammdd para data, no caso se erros, retorna NaT
data = pd.to_datetime('201900111', format='%Y%m%d', errors='coerce')
print(data, type(data))

NaT <class 'pandas._libs.tslibs.nattype.NaTType'>

In [20]:
# Diferenca entre datas em meses
from datetime import datetime
def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

diff_month(datetime(2019,8,1), datetime(2010,10,1),)
diff_month(datetime(2005,8,1), datetime(2010,10,1),)

-62

In [165]:
# Diferenca entre datas em meses com datetime
def months_between(d1, d2): 
    diff = (12 * d1.year + d1.month) - (12 * d2.year + d2.month)
    return diff

months_between(datetime(2009,8,1),datetime(2019,5,1))

-117

In [175]:
# Diferenca entre datas em meses, sem transformar em datetime
def months_between(d1, d2): 
    diff = (12 * pd.to_datetime(d1, format='%Y%m%d', errors='ignore').year + pd.to_datetime(d1, format='%Y%m%d', errors='ignore').month) - (12 * pd.to_datetime(d2, format='%Y%m%d', errors='ignore').year + pd.to_datetime(d2, format='%Y%m%d', errors='ignore').month)
    return diff
months_between(20190501,20090501)

120

In [85]:
# somar dias
from datetime import datetime  
from datetime import timedelta  

def sum_days(data, number_of_days):
    return pd.to_datetime(pd.to_datetime(data, format='%Y%m%d', errors='ignore') + timedelta(days= +number_of_days))
sum_days(20090801, 1)

Timestamp('2009-08-02 00:00:00')

In [162]:
# somar meses
from datetime import datetime  
from datetime import timedelta  

def sum_month(d1, add_month):
    months = (pd.to_datetime(d1, format='%Y%m%d', errors='ignore').month) + add_month
    if months>12:
        return ((pd.to_datetime(d1, format='%Y%m%d', errors='ignore').year)+int(months/12))*100 + (months%12)
    else:
        return (pd.to_datetime(d1, format='%Y%m%d', errors='ignore').year)*100 +(pd.to_datetime(d1, format='%Y%m%d', errors='ignore').month)+add_month
sum_month(20090801, 35)

201207